.App {
    background-color: antiquewhite;
    text-align: center;
    padding: 10xp;
    display: flex;
}


img {
    width: 150px;
    height: 300px;
    padding: 5rem;
 }


 h1{
    background-color: antiquewhite;
    text-align: center;
    padding: 10xp;
 }