*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  background: #252525;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

.todo {
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  display: flex;
  flex-direction: column;
}
