body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game {
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: 600;
  background: #44c0b6;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.square:hover {
  background: #36a39f;
}

.status {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #333;
}

.reset-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.reset-button:hover {
  background: #ff3333;
}