.container {
    display: flex;
    background-color: #555;
    width:auto;
    height: 1000px;
    
  }
  
  .column {
    flex: 1;
  }
  

  
  .column ul li {
    width: 50%;
    cursor: pointer;
    padding: 10px;
    background-color:  #223f2b;
    color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.876);
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 1rem 1rem 1rem 3px rgba(0, 0, 0, 0.2);
  }
  
  .column ul li:hover {
    background-color: #4e8b62;
  }
  
  .column button {
    margin-top: 10px;
  }
  
  .column form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .column form input,
  .column form textarea {
    width: 50% ; 
    padding: 5px;
    margin-bottom: 10px;
    background-color: #223f2b;
    border: solid 1px rgba(5, 0, 0, 0.876);
    color: #fff;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 1rem 1rem 1rem 3px rgba(0, 0, 255, .2);
  }
  .label{
    color: whitesmoke;
  }
  .column form button[type="submit"],
  .column form button[type="button"],
  .column button {
    margin-top: 15px;
    margin-right: 20px;
    background-color: #0ad16d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
  }
  .find {
    width: 20% ; 
    padding: 5px;
    margin-bottom: 10px;
    background-color: #223f2b;
    border: solid 1px rgba(5, 0, 0, 0.876);
    color: #fff;
    border-radius: 4px;
    margin-bottom: 5px;
    box-shadow: 1rem 1rem 1rem 3px rgba(0, 0, 255, .2);
  }
  .column form button[type="submit"]:hover,
  .column form button[type="button"]:hover,
  .column button[type="button"]:hover {
    background-color: #555;
  }
  
  .column form button[type="submit"]:focus,
  .column form button[type="button"]:focus,
  .column button[type="button"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #333;
  }
  
  .column .details p {
    margin-bottom: 5px;
  }
  
  .column .details button {
    margin-top: 10px;
  }
  
  .column .details button.remove {
    background-color: #ff3333;
    color: #cb3a3a;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .column .details button.remove:hover {
    background-color: #ff6666;
  }
  
  .column .details button.remove:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff3333;
  }